{
    "urls": {
        "detail" : "https://wss2.cex.uk.webuy.io/v3/boxes/{gameID}/detail",
        "store" : "https://wss2.cex.uk.webuy.io/v3/boxes/{gameID}/neareststores?latitude={latitude}&longitude={longitude}",
        "location" : "https://nominatim.openstreetmap.org/search?city={city}&format=json&country=United%20Kingdom"
    },
    "locations": {
        "city": ["Glasgow", "London"]
    },
    "stores": {
        "matchName": ["Glasgow", "London W1"]
    },
    "currency": {
        "symbol": ""
    }
}
